<div class="modal modal-xl fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProductModalLabel">Edit Product {{ selectedProduct.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #productForm="ngForm" enctype="multipart/form-data" novalidate>
          <div class="input-group has-validation mb-3 shadow">
            <div class="form-floating">
              <input type="text" class="form-control" id="name" placeholder="Product Name" [(ngModel)]="editableProduct.name"
                name="name" required #name="ngModel" [ngClass]="{'is-invalid': name.invalid && name.touched}">
              <label for="name">Product Name</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="sku" placeholder="SKU" [(ngModel)]="editableProduct.sku"
                name="sku" required #sku="ngModel" [ngClass]="{'is-invalid': sku.invalid && sku.touched}">
              <label for="sku">SKU</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="category" placeholder="Category" [(ngModel)]="editableProduct.category"
                name="category" required #category="ngModel" [ngClass]="{'is-invalid': category.invalid && category.touched}">
              <label for="category">Category</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="description" placeholder="Description"
                [(ngModel)]="editableProduct.description" name="description" required #description="ngModel"
                [ngClass]="{'is-invalid': description.invalid && description.touched}">
              <label for="description">Description</label>
            </div>
          </div>
          <div class="input-group has-validation mb-3 shadow">
            <div class="form-floating">
              <input type="text" class="form-control" id="size" placeholder="Size" [(ngModel)]="editableProduct.size"
                name="size" required #size="ngModel" [ngClass]="{'is-invalid': size.invalid && size.touched}">
              <label for="size">Size</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" id="weight" placeholder="Weight" [(ngModel)]="editableProduct.weight"
                name="weight" required #weight="ngModel" [ngClass]="{'is-invalid': weight.invalid && weight.touched}">
              <label for="weight">Weight</label>
            </div>
          </div>
          <div class="input-group has-validation mb-3 shadow">
            <div class="form-floating">
              <input type="number" class="form-control" id="price" placeholder="Price" [(ngModel)]="editableProduct.price"
                name="price" required #price="ngModel" min="1" [ngClass]="{'is-invalid': price.invalid && price.touched}">
              <label for="price">Price</label>
            </div>
            <div class="form-floating">
              <input type="number" class="form-control" id="priceUnitary" placeholder="Price Unitary"
                [(ngModel)]="editableProduct.priceUnitary" name="priceUnitary" required #priceUnitary="ngModel" min="1"
                [ngClass]="{'is-invalid': priceUnitary.invalid && priceUnitary.touched}">
              <label for="priceUnitary">Price Retail</label>
            </div>
            <div class="form-floating">
              <input type="number" class="form-control" id="priceWholesale" placeholder="Price Wholesale"
                [(ngModel)]="editableProduct.priceWholesale" name="priceWholesale" required #priceWholesale="ngModel" min="1"
                [ngClass]="{'is-invalid': priceWholesale.invalid && priceWholesale.touched}">
              <label for="priceWholesale">Price Wholesale</label>
            </div>
            <div class="form-floating">
              <input type="number" class="form-control" id="quantity" placeholder="Quantity"
                [(ngModel)]="editableProduct.quantity" name="quantity" required #quantity="ngModel" min="1"
                [ngClass]="{'is-invalid': quantity.invalid && quantity.touched}">
              <label for="quantity">Quantity</label>
            </div>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" class="form-control product-file-input shadow" id="image" (change)="onFileSelected($event)"
              name="image">
          </div>
          <div class="input-group has-validation mb-3 shadow">
            <div class="form-floating">
              <button type="submit" class="btn btn-primary btn-sm" [disabled]="productForm.invalid">
                <span class="mdi mdi-pencil"></span> Edit
              </button>
            </div>
          </div>
          <div class="input-group has-validation mb-3 shadow">
            <div class="form-floating">
              <button type="button" class="btn btn-danger btn-sm" (click)="onDelete()">
                <span class="mdi mdi-delete"></span> Delete
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
