<section>
  <div class="controls">
    <button class="btn custom-btn" (click)="toggleClientType()">
      {{clientType}}
      @if (clientType === "Retail") {
       <span class="mdi mdi-cart" style="margin-left: 8px;"></span>
      }
      @else {
       <span class="mdi mdi-truck" style="margin-left: 8px;"></span>
      }
    </button>
    <input type="text" class="form-control" id="skuPrefix" placeholder="SKU" [(ngModel)]="skuPrefix"
      (input)="getProducts()" />
    <input type="text" class="form-control" id="namePrefix" placeholder="Name" [(ngModel)]="namePrefix"
      (input)="getProducts()" />
    <button class="btn custom-btn" (click)="togglePriceOrder()">
      Order by Price
      <span *ngIf="priceOrder === 'asc'" class="mdi mdi-arrow-up" style="margin-left: 8px;"></span>
      <span *ngIf="priceOrder === 'desc'" class="mdi mdi-arrow-down" style="margin-left: 8px;"></span>
    </button>
  </div>
  <div class="card-container">
    @for (product of productsPaginated.products; track $index) {
    <div class="card product-card" (click)="openImageModal(product)" data-bs-toggle="modal"
    data-bs-target="#imageModal" style="cursor: pointer;">
      <img [src]="product.image" class="card-img-top" alt="{{ product.name }}" />
      <div class="price">
        @if (clientType === "Retail") {
        {{ product.priceUnitary | currency: "USD" }}
        } @else {
        {{ product.priceWholesale | currency: "USD" }}
        }
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <a  class="btn btn-secondary" >View Details</a>
      </div>
    </div>
    }
  </div>
  <app-modal-image [selectedProduct]="selectedProduct" [clientType]="clientType"></app-modal-image>
  <div class="pagination-container">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="page === 1">
        <a class="page-link" (click)="onPageChange(page - 1)">Previous</a>
      </li>
      @for (pageV of pages; track pageV.index) {
      <li class="page-item" [class.active]="pageV.index === page">
        <a class="page-link" (click)="onPageChange(pageV.index)">{{
          pageV.index
          }}</a>
      </li>
      }
      <li class="page-item" [class.disabled]="page === productsPaginated.pages">
        <a class="page-link" (click)="onPageChange(page + 1)">Next</a>
      </li>
    </ul>
  </div>
</section>